body {
    background-color: #78c0e0;
}

button {
    border-width: 0;
    border-radius: 5px;
    padding: 1em;
    background-color: #150578;
    color: white;
}

input {
    border-width: 0;
    border-radius: 5px;
    padding: 1em;
}

#settings {
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
}

#settings_popup {
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #449dd1;
    width: 30em;
    height: 20em;
    transform: translate(-50%, -50%);
    column-count: 2;
    padding: 2em;
    animation: fadeIn 0.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#container_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather_data_container {
    width: 45em;
    top: 4em;
    bottom: 2em;
    margin-top: 0.5em;
}

.day_entry {
    width: calc(100% - 1em);
    background-color: #3943b7;
    margin: 0.5em;
    border-radius: 5px;
    color: white;
    
}

.avg_day_data {
    width: 50%;
}

.day_chart {
    width: 50%;
}

.entry_header {
    text-align: center
}

.center_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    color: #78c0e0;
}

#api_key {
    width: 100%;
    color: black;
}

* {
    font-family: 'Courier New', Courier, monospace !important;
}

#close_settings {
    position: fixed;
    top: 0px;
    right: 0.25em;
    font-size: 2em;
    cursor: default;
}

#error_container {
    position: fixed;
    top: 0%;
    right: 0%;
}

.error_log {
    padding: 1em;
    background-color: cornflowerblue;
}

.progress_bar {
    height: 10px;
    background-color: darkorange;
    animation: load 10s infinite linear;
}

@keyframes load {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#location_name {
    display: none;
    text-align: center;
    font-size: 2em;
}